- provide(:title,'About Us')
%h1 About Us
%p
  The
  =link_to "Ruby on Rails Tutorial","http://railstutorial.org/"
  is the project to make a book
  %br
  and screecasts to teach web development
  with
  =link_to "Ruby on Rails","http://rubyonrails.org/"
  %br
  This is the sample application for the tutorial.
