%header{class: "navbar navbar-fixed-top"}
  .navbar-inner
    .container
      %ul
        %li
          = link_to "sample app", '#', id: "logo"
        %li
          = link_to "Home", '#'
        %li
          = link_to "Help", '#'
        %li
          = link_to "Sign in", '#'
